<footer id="footer">
	<div class="inner">
		<ul class="icons">
			{% if site.socials.Twitter %}<li><a href="{{ site.socials.Twitter | escape }}" class="icon brands alt fa-twitter" target="_blank" rel="noopener noreferrer" aria-label="Twitter"><span class="label">Twitter</span></a></li>{% endif %}
			{% if site.socials.Instagram %}<li><a href="{{ site.socials.Instagram | escape }}" class="icon brands alt fa-instagram" target="_blank" rel="noopener noreferrer" aria-label="Instagram"><span class="label">Instagram</span></a></li>{% endif %}
			{% if site.socials.GitHub %}<li><a href="{{ site.socials.GitHub | escape }}" class="icon brands alt fa-github" target="_blank" rel="noopener noreferrer" aria-label="GitHub"><span class="label">GitHub</span></a></li>{% endif %}
			{% if site.socials.LinkedIn %}<li><a href="{{ site.socials.LinkedIn | escape }}" class="icon brands alt fa-linkedin-in" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"><span class="label">LinkedIn</span></a></li>{% endif %}
		</ul>
		<ul class="copyright">
			<li>&copy; Copyright</li><li>Design by <a href="https://html5up.net" target="_blank" rel="noopener noreferrer">HTML5 UP</a></li>
		</ul>
	</div>
</footer>
