// Monomakh, Montserrat, 
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Monomakh&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$montserrat: 'Montserrat', sans-serif;
$monomakh: 'Monomakh', sans-serif;
$iceberg: 'Iceberg', sans-serif;