// Imports
@use 'animations';
// Import all of Bootstrap's CSS
@use 'components/header';
@use 'components/body';
@use 'components/footer';
@use '~bootstrap/scss/bootstrap';
@use 'fonts' as f;
@use 'variaveis' as v;
@use 'mixins' as m;

// Reset CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: f.$montserrat;
    color: v.$light;
    
    a {
        text-decoration: none;
        &:hover {
            color: v.$hover;
        }
    }
}

.btn-custom {
    @include m.custom-button(v.$primary, v.$light, v.$primary, v.$hover, v.$hover);
}